* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://content3.jdmagicbox.com/comp/jaipur/t6/0141px141.x141.110614134221.q1t6/catalogue/jk-lakshmipat-university-ajmer-rd-jaipur-universities-mqlve9opal.jpg?clr=1a264d) no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-position: bottom;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #FFF;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.form::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

#forgot {
    display: none;
}

.form h2 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: white;
}

.form .input-group {
    position: relative;
}

.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.form .input-group input:focus+label,
.form .input-group input:valid+label {
    transform: translateY(-20px);
    color: #94bbe9;
    font-size: 0.8rem;
}


/* .submit-button {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} */

.forgot {
    color: inherit;
}

.submit-button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.submit-button:focus {
    outline: none;
}

.submit-button {
    margin-right: 165px;
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 15px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


/* .submit-button {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
} */

.submit-button {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}